<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.lanqiao.ssm.mapper.DproductMapper">
    <insert id="insertProduct" parameterType="org.lanqiao.ssm.pojo.Dproducts">
        insert into products (pid,pname,pinfo,typeid,pprice,disprice,pcounts,rktime,redu,yon) values (#{pid},#{pname},#{pinfo},#{typeid},#{pprice},#{disprice},#{pcounts},#{rktime},#{redu},#{yon})
    </insert>

    <select id="selectProductAll" resultType="org.lanqiao.ssm.pojo.Dproducts" parameterType="org.lanqiao.springboot.pojo.Condation">
        select * from products where yon=1
            <if test="pname != null &amp;&amp; pname != ''">
                and pname like concat ('%', #{pname}, '%')
            </if>
            <if test="typeid != -1">
                and typeid=#{typeid}
            </if>
            <if test="rktime != null &amp;&amp; rktime != ''">
                and rktime=#{rktime}
            </if>
    </select>

    <select id="selectProductCount"  resultType="int" parameterType="org.lanqiao.ssm.pojo.Condation">
        select count(1) from products
        <where>
            <if test="pname != null &amp;&amp; pname != ''">
                and pname like concat ('%', #{pname}, '%')
            </if>
            <if test="typeid != -1">
                and typeid=#{typeid}
            </if>
            <if test="rktime != null&amp;&amp; rktime != ''">
                and rktime=#{rktime}
            </if>
        </where>
    </select>

    <update id="deleteProductById" parameterType="int">
        update products set yon=0 where pid = #{pid}
    </update>

    <update id="updateProductById" parameterType="org.lanqiao.ssm.pojo.Dproducts">
        update products set pid=#{pid},pname=#{pname},pinfo=#{pinfo},typeid=#{typeid},pprice=#{pprice},disprice=#{disprice},pcounts=#{pcounts},redu=#{redu} where pid=#{pid}
    </update>

    <select id="selectProductById" parameterType="int" resultType="org.lanqiao.ssm.pojo.Dproducts">
        select * from products where pid=#{pid};
    </select>

    <select id="findType" resultType="org.lanqiao.ssm.pojo.Dcategorys">
        select * from categorys
    </select>
</mapper>