<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="76x76" th:href="@{/img/apple-icon.png}">
    <link rel="icon" type="image/png" th:href="@{/img/favicon.png}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>个人中心</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
    <!--     Fonts and icons     -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <!-- CSS Files -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
    <link th:href="@{/css/now-ui-dashboard.css}" rel="stylesheet" />
    <!-- CSS Just for demo purpose, don't include it in your project -->
    <link th:href="@{/demo/demo.css}" rel="stylesheet" />
</head>

<body class="">
    <div class="wrapper ">
        <div class="sidebar" data-color="gray">
            <!--
        Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red | yellow"
    -->
            <div class="logo">

                <a href="#" class="simple-text logo-normal" th:text="${session.name}"></a>

            </div>
            <div class="sidebar-wrapper">
                <ul class="nav">
                    <li>
                        <a href="/shopPage">
                            <i class="now-ui-icons design_app"></i>
                            <p>返回商店</p>
                        </a>
                    </li>
                    <li>
                        <a href="/customsinfo">
                            <i class="now-ui-icons education_atom"></i>
                            <p>个人信息</p>
                        </a>
                    </li>
                    <li>
                        <a href="/customAdressPage">
                            <i class="now-ui-icons location_map-big"></i>
                            <p>收货地址</p>
                        </a>
                    </li>

                    <li>
                        <a href="/showOrders">
                            <i class="now-ui-icons shopping_delivery-fast"></i>
                            <p>订单信息</p>
                        </a>
                    </li>
                    <li>
                        <a href="/showWishList">
                            <i class="now-ui-icons design_bullet-list-67"></i>
                            <p>收藏夹</p>
                        </a>
                    </li>
                    <li>
                        <a href="/securityPage">
                            <i class="now-ui-icons ui-1_bell-53"></i>
                            <p>安全中心</p>
                        </a>
                    </li>

                    <li class="active-pro">
                        <a href="/tuichuPge" onclick="return confirm('你真的要离开我了吗？呜呜呜')">
                            <i class="now-ui-icons ui-1_simple-remove"></i>
                            <p>注销</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="main-panel">
            <div class="card">

                <img th:src="@{img/welcomehome.jpg}" width="100%" height="800px"  alt="">
            </div>

        </div>
    </div>
</body>
<!--   Core JS Files   -->
<script th:src="@{/js/core/jquery.min.js}"></script>
<script th:src="@{/js/core/popper.min.js}"></script>
<script th:src="@{/js/core/bootstrap.min.js}"></script>
<script th:src="@{/js/plugins/perfect-scrollbar.jquery.min.js}"></script>
<!--  Google Maps Plugin    -->
<!-- Chart JS -->
<script th:src="@{/js/plugins/chartjs.min.js}"></script>
<!--  Notifications Plugin    -->
<script th:src="@{/js/plugins/bootstrap-notify.js}"></script>
<!-- Control Center for Now Ui Dashboard: parallax effects, scripts for the example pages etc -->
<script th:src="@{/js/now-ui-dashboard.js}"></script>
<!-- Now Ui Dashboard DEMO methods, don't include it in your project! -->
<script th:src="@{/demo/demo.js}"></script>
<script>
    $(document).ready(function() {
        // Javascript method's body can be found in assets/js/demos.js
        demo.initDashboardPageCharts();
    });
</script>

</html>
