<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  
  <head>
    <meta charset="UTF-8">
    <title>为你所想</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" th:href="@{/css/font.css}">
    <link rel="stylesheet" th:href="@{/css/xadmin.css}">
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" th:src="@{/lib/layui/layui.js}" charset="utf-8"></script>
    <script type="text/javascript" th:src="@{/js/xadmin.js}"></script>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
      <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
      <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  
  <body class="layui-anim layui-anim-up">
    <div class="x-nav">
      <span class="layui-breadcrumb">
        <a href="">首页</a>
        <a href="">演示</a>
        <a>
          <cite>导航元素</cite></a>
      </span>
      <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" href="javascript:location.replace(location.href);" title="刷新">
        <i class="layui-icon" style="line-height:30px">ဂ</i></a>
    </div>
    <div class="x-body">
      <div class="layui-row">
        <!--<form class="layui-form layui-col-md12 x-so">-->
          <!--&lt;!&ndash;<input class="layui-input" placeholder="开始日" name="start" id="start">&ndash;&gt;-->
          <!--&lt;!&ndash;<input class="layui-input" placeholder="截止日" name="end" id="end">&ndash;&gt;-->
          <!--<input type="text" name="username"  placeholder="请输入用户名" autocomplete="off" class="layui-input">-->
          <!--<button class="layui-btn"  lay-submit="" lay-filter="sreach"><i class="layui-icon">&#xe615;</i></button>-->
        <!--</form>-->
      </div>
      <xblock>
        <button class="layui-btn layui-btn-danger">会员列表</button>
        <span class="x-right" style="line-height:40px">共有数据：[[${pageInfo.total}]]条</span>
      </xblock>

      <input type="hidden" id="currentPageNum" name="currentPageNum" value="">
      <table class="layui-table">
        <thead>
          <tr>
            <th>编号</th>
            <th>用户名</th>
            <th>手机号</th>
            <th>密码</th>
            <th>余额</th>
            <th>积分</th>
            <th>加入时间</th>
            <th>状态</th>
            <th>操作</th></tr>
        </thead>
        <tbody>
          <tr th:each="customer:${customsList}">
            <td th:text="${customer.cid}" th:name="cid"></td>
            <td th:text="${customer.cname}"></td>
            <td th:text="${customer.phone}"></td>
            <td th:text="${customer.cpassword}"></td>
            <td th:text="${customer.yue}"></td>
            <td th:text="${customer.point}"></td>
            <td th:text="${customer.joindate}"></td>
            <td th:if="${customer.cusstate==1}" th:text="已禁用" style="color: red"></td>
            <td th:if="${customer.cusstate==0}" th:text="已启用"></td>
            <td class="td-status">
              <a class="layui-btn layui-btn-normal layui-btn-mini"th:href="@{/updateCusState/}+${customer.cid}" th:text="禁用"></a>
            </td>
            <!--<td class="td-manage">-->
              <!--<a  th:href="@{/updateCusState/}+${customer.cid}"  title="启用">-->
                <!--<i class="layui-icon">&#xe601;</i>-->
              <!--</a>-->
            <!--</td>-->
            <!--<td class="td-manage">-->
              <!--<a title="删除" th:attr="del_uri=@{/deleteCus/}+${customer.cid}"  class="deleteBtn">-->
                <!--<i class="layui-icon">&#xe640;</i>-->
              <!--</a>-->
            <!--</td>-->
          </tr>
        </tbody>
      </table>
      <form id="deleteForm" action="" method="post">
        <input type="hidden" name="_method" value="delete">
      </form>

      <!--分页-->
      <div th:fragment="pageNav(pageInfo)" class="page">
        <div   class="dataTables_paginate paging_bootstrap pagination" >
          <a th:if="${pageInfo.hasPreviousPage}" th:href="@{'?currentPageNum='+${pageInfo.prePage}}" class="num" >&lt;&lt;</a>
          <!--<a th:if="${not pageInfo.hasPreviousPage}" class="num" >&lt;&lt;</a>-->

          <!--pageInfo.navigatepageNums 所有的导航页号    pageInfo.pageNum  当前页数-->
          <a th:each="nav : ${pageInfo.navigatepageNums}" th:class="${nav==pageInfo.pageNum}?'active':''" th:href="@{'?currentPageNum='+${nav}}" th:text="${nav}" class="current" th:name="currentPageNum"></a>
          <a th:if="${pageInfo.hasNextPage}" th:href="@{'?currentPageNum='+${pageInfo.nextPage}}" class="num" >&gt;&gt;</a>
          <!--<a th:if="${not pageInfo.hasNextPage}" class="num" >&gt;&gt;</a>-->

          <!--<a th:href="@{/memberPageList/}+${p.firstPage}">首页</a>-->
        </div>
      </div>

    <script>
      layui.use('laydate', function(){
        var laydate = layui.laydate;
        
        //执行一个laydate实例
        laydate.render({
          elem: '#start' //指定元素
        });

        //执行一个laydate实例
        laydate.render({
          elem: '#end' //指定元素
        });
      });
      /*用户-停用*/
      function member_stop(obj,id){
          layer.confirm('确认要停用吗？',function(index){

              if($(obj).attr('title')=='启用'){

                  //发异步把用户状态进行更改
                  $(obj).attr('title','停用')
                  $(obj).find('i').html('&#xe62f;');

                  $(obj).parents("tr").find(".td-status").find('span').addClass('layui-btn-disabled').html('已停用');
                  layer.msg('已停用!',{icon: 5,time:1000});

              }else{
                  $(obj).attr('title','启用')
                  $(obj).find('i').html('&#xe601;');

                  $(obj).parents("tr").find(".td-status").find('span').removeClass('layui-btn-disabled').html('已启用');
                  layer.msg('已启用!',{icon: 5,time:1000});
              }

          });
      }
    </script>
    <script>
        $(".deleteBtn").click(function () {
            $("#deleteForm").attr("action",$(this).attr("del_uri")).submit();
            // if (confirm("yto")==true){
            //     $("#deleteForm").attr("action",$(this).attr("del_uri")).submit();
            // }else {return false}

        })
    </script>
  </body>

</html>