<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  
  <head>
    <meta charset="UTF-8">
    <title>为你所想</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" th:href="@{/css/font.css}">
    <link rel="stylesheet" th:href="@{/css/xadmin.css}">
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" th:src="@{/lib/layui/layui.js}" charset="utf-8"></script>
    <script type="text/javascript" th:src="@{/js/xadmin.js}"></script>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
      <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
      <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  
  <body class="layui-anim layui-anim-up">
    <div class="x-nav">
      <span class="layui-breadcrumb">
        <a href="">首页</a>
        <a href="">演示</a>
        <a>
          <cite>导航元素</cite></a>
      </span>
      <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" href="javascript:location.replace(location.href);" title="刷新">
        <i class="layui-icon" style="line-height:30px">ဂ</i></a>
    </div>
    <div class="x-body">
      <!--<div class="layui-row">-->
        <!--&lt;!&ndash;<form class="layui-form layui-col-md12 x-so">&ndash;&gt;-->
          <!--&lt;!&ndash;&lt;!&ndash;<input class="layui-input" placeholder="开始日" name="start" id="start">&ndash;&gt;&ndash;&gt;-->
          <!--&lt;!&ndash;&lt;!&ndash;<input class="layui-input" placeholder="截止日" name="end" id="end">&ndash;&gt;&ndash;&gt;-->
          <!--&lt;!&ndash;<input type="text" name="username"  placeholder="请输入用户名" autocomplete="off" class="layui-input">&ndash;&gt;-->
          <!--&lt;!&ndash;<button class="layui-btn"  lay-submit="" lay-filter="sreach"><i class="layui-icon">&#xe615;</i></button>&ndash;&gt;-->
        <!--&lt;!&ndash;</form>&ndash;&gt;-->
      <!--</div>-->
      <xblock>
        <!--<button class="layui-btn layui-btn-danger">会员列表</button>-->
        <button class="layui-btn">审核评论</button>
        <span class="x-right" style="line-height:40px">共有数据：[[${pageInfo.total}]]条</span>
      </xblock>
      <table class="layui-table">
        <thead>
          <tr>
            <!--<th>-->
              <!--<div class="layui-unselect header layui-form-checkbox" lay-skin="primary"><i class="layui-icon">&#xe605;</i></div>-->
            <!--</th>-->
            <th>ID</th>
            <th>顾客id</th>
            <th>顾客姓名</th>
            <th>产品名称</th>
            <th>商品评价</th>
            <th>评价时间</th>
            <th>是否通过</th>
        </thead>
        <tbody>
          <tr th:each="eval:${evalList}">
            <!--<td>-->
            <!--<div class="layui-unselect layui-form-checkbox" lay-skin="primary" data-id='2'><i class="layui-icon">&#xe605;</i></div>-->
            <!--</td>-->
            <td th:text="${eval.eid}" th:name="eid"></td>
            <td th:text="${eval.cid}"></td>
            <td th:text="${eval.cname}"></td>
            <td th:text="${eval.pname}"></td>
            <td th:text="${eval.evaluate}" th:name="evaluate"></td>
            <td th:text="${eval.creatdate}"></td>
            <td th:if="${eval.passid==0}">
              <!--th:text="审核通过"  th:text="审核未过" -->
              <a th:href="@{/modifyEvalStateY/}+${eval.eid}"  class="layui-btn layui-btn-danger">是</a>
              <a th:href="@{/modifyEvalStateN/}+${eval.eid}"  class="layui-btn layui-btn-danger">否</a>
            </td>
            <td th:if="${eval.passid==1}" th:text="审核通过"></td>
            <td th:if="${eval.passid==2}" th:text="审核未通过" style="color:red;"></td>
          </tr>
        </tbody>
      </table>
      <form id="deleteForm" action="" method="post">
        <input type="hidden" name="_method" value="delete">
      </form>
      <!--分页-->
      <div th:fragment="pageNav(pageInfo)" class="page">
        <div   class="dataTables_paginate paging_bootstrap pagination" >
          <a th:if="${pageInfo.hasPreviousPage}" th:href="@{'?currentPageNum='+${pageInfo.prePage}}" class="num" >&lt;&lt;</a>
          <!--<a th:if="${not pageInfo.hasPreviousPage}" class="num" >&lt;&lt;</a>-->

          <a th:each="nav : ${pageInfo.navigatepageNums}" th:class="${nav==pageInfo.pageNum}?'active':''" th:href="@{'?currentPageNum='+${nav}}" th:text="${nav}" class="current" th:name="currentPageNum"></a>

          <a th:if="${pageInfo.hasNextPage}" th:href="@{'?currentPageNum='+${pageInfo.nextPage}}" class="num" >&gt;&gt;</a>
          <!--<a th:if="${not pageInfo.hasNextPage}" class="num" >&gt;&gt;</a>-->

          <!--<a th:href="@{/memberPageList/}+${p.firstPage}">首页</a>-->
        </div>
      </div>

    </div>
    <script>
      layui.use('laydate', function(){
        var laydate = layui.laydate;
        
        //执行一个laydate实例
        laydate.render({
          elem: '#start' //指定元素
        });

        //执行一个laydate实例
        laydate.render({
          elem: '#end' //指定元素
        });
      });

       /*用户-停用*/
      // function member_stop(obj,id){
      //     layer.confirm('确认要停用吗？',function(index){
      //
      //         if($(obj).attr('title')=='启用'){
      //
      //           //发异步把用户状态进行更改
      //           $(obj).attr('title','停用')
      //           $(obj).find('i').html('&#xe62f;');
      //
      //           $(obj).parents("tr").find(".td-status").find('span').addClass('layui-btn-disabled').html('已停用');
      //           layer.msg('已停用!',{icon: 5,time:1000});
      //
      //         }else{
      //           $(obj).attr('title','启用')
      //           $(obj).find('i').html('&#xe601;');
      //
      //           $(obj).parents("tr").find(".td-status").find('span').removeClass('layui-btn-disabled').html('已启用');
      //           layer.msg('已启用!',{icon: 5,time:1000});
      //         }
      //
      //     });
      // }
    </script>

    <!--<script>-->
        <!--$(".deleteBtn").click(function () {-->
            <!--$("#deleteForm").attr("action",$(this).attr("del_uri")).submit();-->
        <!--})-->
    <!--</script>-->

    <!--<script>var _hmt = _hmt || []; (function() {-->
        <!--var hm = document.createElement("script");-->
        <!--hm.src = "https://hm.baidu.com/hm.js?b393d153aeb26b46e9431fabaf0f6190";-->
        <!--var s = document.getElementsByTagName("script")[0];-->
        <!--s.parentNode.insertBefore(hm, s);-->
      <!--})();-->
    <!--</script>-->
  </body>

</html>