<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>为你所想</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" th:href="@{/css/font.css}">
    <link rel="stylesheet" th:href="@{/css/xadmin.css}">
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" th:src="@{/lib/layui/layui.js}" charset="utf-8"></script>
    <script type="text/javascript" th:src="@{/js/xadmin.js}"></script>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
<div class="x-nav">
      <span class="layui-breadcrumb">
        <a href="">首页</a>
        <a href="">演示</a>
        <a>
          <cite>导航元素</cite></a>
      </span>
    <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" href="javascript:location.replace(location.href);" title="刷新">
        <i class="layui-icon" style="line-height:30px">ဂ</i></a>
</div>
<div class="x-body">
    <div class="layui-row">
        <form class="layui-form layui-col-md12 x-so" th:each="order:${orderList}">
            <!--<div class="layui-input-inline">-->
                <!--<select name="contrller">-->
                    <!--<option>支付状态</option>-->
                    <!--<option>已支付</option>-->
                    <!--<option>未支付</option>-->
                <!--</select>-->
            <!--</div>-->
            <!--<div class="layui-input-inline">-->
                <!--<select name="contrller">-->
                    <!--<option>支付方式</option>-->
                    <!--<option>支付宝</option>-->
                    <!--<option>微信</option>-->
                    <!--<option>货到付款</option>-->
                <!--</select>-->
            <!--</div>-->
            <!--<div class="layui-input-inline">-->
                <!--<select name="contrller">-->
                    <!--<option value="">订单状态</option>-->
                    <!--<option value="0">未完成</option>-->
                    <!--<option value="1">已完成</option>-->
                    <!--<option value="2">已取消</option>-->
                    <!--&lt;!&ndash;<option value="0">待确认</option>&ndash;&gt;-->
                    <!--&lt;!&ndash;<option value="1">已确认</option>&ndash;&gt;-->
                    <!--&lt;!&ndash;<option value="2">已收货</option>&ndash;&gt;-->
                    <!--&lt;!&ndash;<option value="3">已取消</option>&ndash;&gt;-->
                    <!--&lt;!&ndash;<option value="4">已完成</option>&ndash;&gt;-->
                    <!--&lt;!&ndash;<option value="5">已作废</option>&ndash;&gt;-->
                <!--</select>-->
            <!--</div>-->
            <input type="text" name="username"  placeholder="请输入订单号" autocomplete="off" class="layui-input">
            <a th:href="@{/searchOrder/}+${order.oid}" class="layui-btn"><i class="layui-icon">&#xe615;</i></a></td>
        </form>
    </div>

    <xblock>
        <button class="layui-btn"><i class="layui-icon"></i>订单信息</button>
        <span class="x-right" style="line-height:40px">共有数据：88 条</span>
    </xblock>
    <table class="layui-table">
        <thead>
        <tr>
            <th>订单编号</th>
            <th>收货人</th>
            <th>收货地址</th>
            <th>订单状态</th>
            <th>发货状态</th>
            <th>数量</th>
            <th>总金额</th>
            <th>discount</th>
            <th>应付金额</th>
            <th>下单时间</th>
            <th >操作</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="order:${orderList}">
            <td th:text="${order.oid}"></td>
            <td th:text="${order.iname}"></td>
            <td th:text="${order.address}"></td>
            <td th:if="${order.ostateid==0}" th:text="未完成"></td>
            <td th:if="${order.ostateid==1}" th:text="已完成"></td>
            <td th:if="${order.ostateid==2}" th:text="已取消"></td>

            <td th:if="${order.bstateid==0}" th:text="未发货"></td>
            <td th:if="${order.bstateid==1}">
                <a th:href="@{/updatebstate/}+${order.oid}" th:text="确认收货" class="layui-btn layui-btn-danger" onclick="return foo();"></a></td>
            <td th:if="${order.bstateid==2}" th:text="已收货"></td>

            <td th:text="${order.totalnum}"></td>
            <td th:text="${order.totalprice}"></td>
            <td th:text="${order.discount}"></td>
            <td th:text="${order.totalprice_dis}"></td>
            <td th:text="${order.createtime}"></td>
            <td>
                <a th:href="@{/orderinfo/}+${order.oid}" class="layui-btn layui-btn-danger">查看详情</a>
            </td>
        </tr>
        </tbody>
    </table>
    <form id="orderinfoForm" action="" method="post">
        <input type="hidden" name="_method" value="update">
    </form>

    <div class="page">
        <div>
            <span >1</span>
            <!--<a class="num" href="">2</a>-->
            <!--<a class="num" href="">3</a>-->
            <!--<a class="num" href="">489</a>-->
        </div>
    </div>
    <!--分页-->
    <!--<div th:fragment="pageNav(pageInfo)" class="page">-->
        <!--<div   class="dataTables_paginate paging_bootstrap pagination" >-->
            <!--<a th:if="${pageInfo.hasPreviousPage}" th:href="@{'?currentPageNum='+${pageInfo.prePage}}" class="num" >&lt;&lt;</a>-->
            <!--<a th:if="${not pageInfo.hasPreviousPage}" class="num" >&lt;&lt;</a>-->

            <!--<a th:each="nav : ${pageInfo.navigatepageNums}" th:class="${nav==pageInfo.pageNum}?'active':''" th:href="@{'?currentPageNum='+${nav}}" th:text="${nav}" class="current" th:name="currentPageNum"></a>-->

            <!--<a th:if="${pageInfo.hasNextPage}" th:href="@{'?currentPageNum='+${pageInfo.nextPage}}" class="num" >&gt;&gt;</a>-->
            <!--<a th:if="${not pageInfo.hasNextPage}" class="num" >&gt;&gt;</a>-->

            <!--&lt;!&ndash;<a th:href="@{/memberPageList/}+${p.firstPage}">首页</a>&ndash;&gt;-->
        <!--</div>-->
    <!--</div>-->

</div>
<script>
    layui.use('laydate', function(){
        var laydate = layui.laydate;

        //执行一个laydate实例
        laydate.render({
            elem: '#start' //指定元素
        });

        //执行一个laydate实例
        laydate.render({
            elem: '#end' //指定元素
        });
    });


</script>
<script type="text/javascript">
    //状态修改的提交
    function foo(){
        if(confirm("确认收货吗？")){
            return true;
        }
        return false;
    }
</script>

</body>

</html>