<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8"> 
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>商店</title>
		<meta name="description" content="">
		<meta name="msapplication-tap-highlight" content="yes" />

		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, minimal-ui" />
		<link href='http://fonts.googleapis.com/css?family=Cabin:400,400italic,500,600,700' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,400,300,600,700,800&amp;subset=latin,latin-ext' rel='stylesheet' type='text/css'>
<!--		 Place favicon.ico and apple-touch-icon.png in the root directory -->
		<link rel="stylesheet" href="css/custom.css">
		<script th:src="@{js/jquery-2.1.0.min.js}"></script>
		<script th:src="@{js/modernizr-2.6.2.min.js}"></script>
		

    </head>
    <body class="intro-fullscreen fixed-footer scroll-down yo-anim-enabled">

		<!--content-->


<nav id="main-navbar" class="hidden-xs hidden-sm">
	<div class="nav hidden-xs">
		<div class="main-reorder pull-right">
			<a href="#">
				<i class="fa fa-bars"></i>
			</a>
		</div>

		<div class="logo pull-left">
			<a href="index.html">
				<figure>
					<img th:src="@{img/logo1.png}" class="light-logo" alt="Berg HTML Theme"/>
					<img th:src="@{img/logo2.png}" class="dark-logo" alt="Berg HTML Theme"/>
				</figure>
			</a>
		</div>
		<div class="main-nav">
			<ul class="pull-right">
				<li>
					<a href="/indexPage">首页</a>
				</li>
				<li>
					<a href="/shopPage" class="active">商店</a>
				</li>
			</ul>
		</div>
	</div>
</nav>
<div id="mobile-nav" class="visible-xs visible-sm">
	<header>
		<div class="container-fluid">
			<ul class="menu-header">
				<li class="pull-left">
					<a href="index.html" class="logo">
						<figure>
							<img th:src="@{img/logo2.png}" alt="为你所想网站"/>
							<!--Berg HTML Theme-->
						</figure>
					</a>
				</li>
				<li class="reorder pull-right"><a href="#" title=""><i class="fa fa-bars"></i></a></li>
			</ul>
		</div>
	</header>	
	<div class="" id="flyout-container">
		<ul id="mobile-navbar" class="nav flyout-menu main-nav nav-height">
			<li class="nav-item">
				<a title="" href="/indexPage">首页</a>
			</li>
			<li class="nav-item">
				<a title="" href="/shopPage">商店</a>
			</li>
		</ul>
	</div>
</div>



<div class="section-intro section-intro-parallax close-on-click" data-opacity-start="30" data-opacity-end="100">
	<div class="bg-section" data-ht-parallax="300" style="z-index: -9999999">
		<img th:src="@{img/bg02.png}" width="1366px" height="545px" alt="" >
	</div>
	<div class="pre-content">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 menu-category sticky-header">
					<h1 class="yo-anim yo-anim-fade" data-animation-delay="100">为你所想</h1>
					<p class="yo-anim yo-anim-fade" data-animation-delay="500">很多人不能明白未来对自己的意义和机会，也很难理解坚持对自己未来的意义，但我们必须明白未来一定会有人因为你的想法而成功。很多人只是想了一想而已，而有的人却是在真正的坚持的做。</p>
				</div>
			</div>
		</div>
	</div>
	<a class="arrow1 arrow-section hidden-xs" href="#">
		<i class="fa fa-angle-down"></i>
	</a>
	<a class="arrow2 arrow-section hidden-xs" href="#" style="">
		<i class="fa fa-angle-up"></i>
	</a>
</div>
<div class="section-space"></div>
<section id="shop" class="section-scroll main-section menu shop ">
	<ul class="list-category">
		<li>
			<span class="filter" data-filter="all">全部商品</span>
		</li>
		<li>
			<span class="filter" data-filter=".category-1">办公</span>
		</li>
		<li>
			<span class="filter" data-filter=".category-2">家居</span>
		</li>
		<li>
			<span class="filter" data-filter=".category-3">旅行</span>
		</li>
		<li>
			<span class="filter" data-filter=".category-4">数码</span>
		</li>
		<li>
			<span class="filter" data-filter=".category-5">娱乐</span>
		</li>
		<li class="shop-list">
			<ul>

				<li class="shopping">
					<a href="/loginPage" th:if="${#strings.isEmpty(session.name)}">登录</a>
					<a href="/customcenterPage" th:if="${!#strings.isEmpty(session.name)}" th:text="${session.name}"></a>
				</li>

				<li class="shopping" th:if="${!#strings.isEmpty(session.name)}">
					<a href="/showOrders">订单信息</a>
				</li>

				<li class="shopping" th:if="${#strings.isEmpty(session.name)}">
					<a href="/shopcarPage" class="cart">购物车</a>
				</li>

				<li class="shopping-cart" th:if="${!#strings.isEmpty(session.name)}">
				<a href="/carList" class="cart" >购物车</a>

	<ul class="show-cart">
		<li class="product" th:each="car:${carList}">
			<a href="product.html" class="img-product">
				<figure><img th:src="@{/img/}+${car.pimg}" alt=""/></figure>
			</a>
			<div class="list-product" >
				<a th:href="@{/productPage/}+${car.pid}" th:text="${car.pname}"></a>
				<div class="quantity" th:text="${car.pnum}"></div>
				<div class="price-product" th:text="${car.pprice}"></div>
				<div class="remove-product"><i class="icon-close"></i></div>
			</div>
		</li>
		<li class="summation">
			<!--<div class="summation-subtotal">-->
			<!--<span>subtotal:</span>-->
			<!--<span class="amount">$87.10</span>-->
			<!--</div>-->
			<div class="btn-cart">
				<button class="btn btn-default"><a href="/carList">查看购物车</a></button>
				<button class="btn btn-dark"><a href="/pay">结算</a></button>
			</div>
		</li>
		
	</ul>
</li>

				<!--搜索框-->
				<li>
					<div>
						<form action="/searchProduct" method="post" >
							<input type="text" class="name" name="pname" value="" placeholder="请输入商品名称">
							<input type="submit"  value="搜索" >
						</form>
					</div>
				</li>


				<li class="shopping-cart">
					<a href="#" class="cart">价格筛选</a>
					<ul class="show-cart">
						<li class="product">
							</a>
							<div >
								<form action="/selectPpriceY" method="post">
									<h6>请输入你想要的价格区间:</h6>
									<input style="width: 70px" type="text" class="text" name="price1" placeholder="低" >
									--
									<input style="width: 70px" type="text" class="text" name="price2" placeholder="高" >
									<input type="reset" value="重置">
									<input  type="submit" value="确定">
								</form>
							</div>
						</li>
					</ul>
				</li>

			</ul>
		</li>
	</ul>
	

	<div class="container-fluid menu-content mixitup">
		<div class="mix category-1" data-myorder="1">
			
			<div class="row">
				<div class="col-xs-12 menu-category sticky-header sticky-header first-header fixed visible">
					<h2>办公</h2>
				</div>
			</div>
			<div class="row">
				<div class="menu-item" th:each="pro:${productsList1}">
					<a th:href="@{/productPage/}+${pro.pid}" class="hidden-xs unveil">
							<img th:src="@{img/}+${pro.pimg}" alt="Menu item"/>
							<div class="actions">
								<i class="icon-magnifier-add"></i>
							</div>
					</a>
					<div class="item-description">
						<div class="">
							<div class="">
								<h6><a th:href="@{/productPage/}+${pro.pid}" th:text="${pro.pname}"></a></h6>
								<div class="price">
									<span class="new-price item-price">￥[[${pro.pprice}]]</span>
								</div>
								<div class="shop-button">
									<a href="/loginPage" class="btn btn-color" th:if="${#strings.isEmpty(session.name)}" onclick="return confirm('检测到您未登录，是否前往登陆')">立即购买</a>
									<a th:href="@{/msPay/}+${pro.pid}" class="btn btn-color" th:if="${!#strings.isEmpty(session.name)}">立即购买</a>
									<!--<a href="/payPage" class="btn btn-color">立即购买</a>-->
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="mix category-2" data-myorder="2">
			
			<div class="row">
				<div class="col-xs-12 menu-category sticky-header">
					<h2>家居</h2>
				</div>
			</div>
			<div class="row">
				<div class="menu-item" th:each="pro:${productsList2}">
					<a th:href="@{/productPage/}+${pro.pid}" class="hidden-xs unveil">
							<img th:src="@{img/}+${pro.pimg}" alt="Menu item"/>
							<div class="actions">
								<i class="icon-magnifier-add"></i>
							</div>
					</a>
					<div class="item-description">
						<div class="">
							<div class="">
								<h6><a th:href="@{/productPage/}+${pro.pid}" th:text="${pro.pname}"></a></h6>
								<div class="price">
									<span class="item-price">￥[[${pro.pprice}]]</span>
								</div>
								<div class="shop-button">
									<a href="/loginPage" class="btn btn-color" th:if="${#strings.isEmpty(session.name)}" onclick="return confirm('检测到您未登录，是否前往登陆')">立即购买</a>
									<a th:href="@{/msPay/}+${pro.pid}" class="btn btn-color" th:if="${!#strings.isEmpty(session.name)}">立即购买</a>
									<!--<a href="/payPage" class="btn btn-color">立即购买</a>-->
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="mix category-3" data-myorder="3">
			
			<div class="row">
				<div class="col-xs-12 menu-category sticky-header sticky-header first-header fixed visible">
					<h2>旅行</h2>
				</div>
			</div>
			<div class="row">
				<div class="menu-item" th:each="pro:${productsList3}">
					<a th:href="@{/productPage/}+${pro.pid}" class="hidden-xs unveil">
							<img th:src="@{img/}+${pro.pimg}" alt="Menu item"/>
							<div class="actions">
								<i class="icon-magnifier-add"></i>
							</div>
					</a>
					<div class="item-description">
						<div class="">
							<div class="">
								<h6><a th:href="@{/productPage/}+${pro.pid}"  th:text="${pro.pname}"></a></h6>
								<div class="price">
									<span class="item-price">￥[[${pro.pprice}]]</span>
								</div>
								<div class="shop-button">
									<a href="/loginPage" class="btn btn-color" th:if="${#strings.isEmpty(session.name)}" onclick="return confirm('检测到您未登录，是否前往登陆')">立即购买</a>
									<a th:href="@{/msPay/}+${pro.pid}" class="btn btn-color" th:if="${!#strings.isEmpty(session.name)}">立即购买</a>
									<!--<a href="/payPage" class="btn btn-color">立即购买</a>-->
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="mix category-4" data-myorder="4">
			
			<div class="row">
				<div class="col-xs-12 menu-category sticky-header sticky-header first-header fixed visible">
					<h2>数码</h2>
				</div>
			</div>
			<div class="row">
				<div class="menu-item" th:each="pro:${productsList4}">
					<a th:href="@{/productPage/}+${pro.pid}" class="hidden-xs unveil">
							<img th:src="@{img/}+${pro.pimg}" alt="Menu item"/>
							<div class="actions">
								<i class="icon-magnifier-add"></i>
							</div>
					</a>
					<div class="item-description">
						<div class="">
							<div class="">
								<h6><a th:href="@{/productPage/}+${pro.pid}"  th:text="${pro.pname}"></a></h6>
								<div class="price">
									<span class="item-price">￥[[${pro.pprice}]]</span>
								</div>
								<div class="shop-button">
									<a href="/loginPage" class="btn btn-color" th:if="${#strings.isEmpty(session.name)}" onclick="return confirm('检测到您未登录，是否前往登陆')">立即购买</a>
									<a th:href="@{/msPay/}+${pro.pid}" class="btn btn-color" th:if="${!#strings.isEmpty(session.name)}">立即购买</a>
									<!--<a href="/payPage" class="btn btn-color">立即购买</a>-->
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="mix category-5" data-myorder="5">
			
			<div class="row">
				<div class="col-xs-12 menu-category sticky-header">
					<h2>娱乐</h2>
				</div>
			</div>
			<div class="row">
				<div class="menu-item" th:each="pro:${productsList5}">
					<a th:href="@{/productPage/}+${pro.pid}" class="hidden-xs unveil">
							<img th:src="@{img/}+${pro.pimg}" alt="Menu item"/>
							<div class="actions">
								<i class="icon-magnifier-add"></i>
							</div>
					</a>
					<div class="item-description">
						<div class="">
							<div class="">
								<h6><a th:href="@{/productPage/}+${pro.pid}"  th:text="${pro.pname}"></a></h6>
								<div class="price">
									<span class="item-price">￥[[${pro.pprice}]]</span>
								</div>
								<div class="shop-button">
									<a href="/loginPage" class="btn btn-color" th:if="${#strings.isEmpty(session.name)}" onclick="return confirm('检测到您未登录，是否前往登陆')">立即购买</a>
									<a th:href="@{/msPay/}+${pro.pid}" class="btn btn-color" th:if="${!#strings.isEmpty(session.name)}">立即购买</a>
									<!--<a href="/payPage" class="btn btn-color">立即购买</a>-->
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>


<div id="footer-spacer"></div>
<footer id="footer" class="text-center">

	<a href="#" class="to-the-top">
		<i class="fa fa-arrow-circle-o-up"></i>
	</a>

	<h2>为你所想</h2>
	<div class="container" >
		<div class="row">
			<div class="col-md-8 col-md-offset-2 text-center v-card">

					<div class="col-sm-6 col-lg-3">
						<div class="open-daily">
							<span class="day">周一 -- 周四</span>
							<span class="hours">7.00 -- 21.00</span>
						</div>
					</div>
					<div class="col-sm-6 col-lg-3">	
						<div class="open-daily">
							<span class="day">周五 -- 周日</span>
							<span class="hours">7.00 -- 23.00</span>
						</div>
					</div>	
					<div class="col-sm-6 col-lg-3">	
						<div class="simple-contact">
							<span class="address">山西省太原市榆次区</span>
							<span class="postal-code">蓝桥软件实验室</span>
						</div>
					</div>	
					<div class="col-sm-6 col-lg-3">	
						<div class="simple-contact">
							<span class="mobile"><a href="#">+48 889 889 889</a></span>
							<span class="email"><a href="#">restaurant@berg.com</a></span>
						</div>
					</div>
			</div>
		</div>
	</div>
			<ul class="social-icon clearfix">
				<li>
					<a href="#"><i class="fa fa-facebook"></i></a>
				</li>
				<li>
					<a href="#"><i class="fa fa-twitter"></i></a>
				</li>
				<li>
					<a href="#"><i class="fa fa-pinterest"></i></a>
				</li>
				<li>
					<a href="#"><i class="fa fa-google-plus"></i></a>
				</li>
				<li>
					<a href="#"><i class="fa fa-instagram"></i></a>
				</li>
			</ul>


	<p class="copyrights">© 2019 <a href="index">为你所想</a>. All Rights Reserved. </p>
</footer>
		<div class="gallery-wrapper"></div>

		<div id="preloader">
			<div id="status">
				<div class="loading-wrapper">
					<img th:src="@{img/logo2.png}" alt="Loading"/>
				</div>
			</div>
			<div id="status-loaded"></div>
		</div>

		<script th:src="@{js/browser.js}"></script>
		<script th:src="@{js/jquery.ba-throttle-debounce.min.js}"></script>
		<script th:src="@{js/jquery.smooth-scroll.js}"></script>
		<script th:src="@{js/matchmedia.js}"></script>
		<script th:src="@{js/enquire.min.js}"></script>
		<script th:src="@{js/jquery.velocity.min.js}"></script>
		<script th:src="@{js/waypoints.js}"></script>
		<script th:src="@{js/owl.carousel.js}"></script>
		<script th:src="@{js/jquery.mb.YTPlayer.js}"></script>
		<script th:src="@{js/jquery.parallaxify.js}"></script>
		<script th:src="@{js/jquery.imagesloaded.js}"></script>
		<script th:src="@{js/jquery.unveil.min.js}"></script>
		<script th:src="@{js/jquery.superslides.min.js}"></script>
		<script th:src="@{js/jquery.fullPage.min.js}"></script>
		<script th:src="@{js/jquery.mixitup.js}"></script>
		<script th:src="@{js/main.js}"></script>
	</body>
</html>
