<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>提交成功页面</title>

            <meta name="description" content="">
            <meta name="msapplication-tap-highlight" content="yes" />
            <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, minimal-ui" />
            <link href='http://fonts.googleapis.com/css?family=Cabin:400,400italic,500,600,700' rel='stylesheet' type='text/css'>
            <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,400,300,600,700,800&amp;subset=latin,latin-ext' rel='stylesheet' type='text/css'>
            <link rel="stylesheet" href="css/custom.css">
            <script th:src="@{/js/jquery-2.1.0.min.js}"></script>
            <script th:src="@{/js/modernizr-2.6.2.min.js}"></script>

    <link href="css/public.css" type="text/css" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="css/base.css"/>
    <script type="text/javascript" th:src="@{/js/jquery_cart.js}"></script>
    <link rel="stylesheet" type="text/css" href="css/buyConfirm.css" />
    <script src="js/jquery-1.11.1.min.js" type="text/javascript"></script>
    <script src="js/unslider.min.js" type="text/javascript"></script>
    <!--<script src="js/index.js" type="text/javascript"></script>-->
    <script type="text/javascript">

        window.onload = function(){
            new tab('test4-input-input_tab1-input_tab2', '-');
        }
        function tab(o, s, cb, ev){ //tab换类
            var $ = function(o){return document.getElementById(o)};
            var css = o.split((s||'_'));
            if(css.length!=4)return;
            this.event = ev || 'onclick';
            o = $(o);
            if(o){
                this.ITEM = [];
                o.id = css[0];
                var item = o.getElementsByTagName(css[1]);
                var j=1;
                for(var i=0;i < item.length;i++){
                    if(item[i].className.indexOf(css[2])>=0 || item[i].className.indexOf(css[3])>=0){
                        if(item[i].className == css[2])o['cur'] = item[i];
                        item[i].callBack = cb||function(){};
                        item[i]['css'] = css;
                        item[i]['link'] = o;
                        this.ITEM[j] = item[i];
                        item[i]['Index'] = j++;
                        item[i][this.event] = this.ACTIVE;
                    }
                }
                return o;
            }
        }
        tab.prototype = {
            ACTIVE:function(){
                var $ = function(o){return document.getElementById(o)};
                this['link']['cur'].className = this['css'][3];
                this.className = this['css'][2];
                try{
                    $(this['link']['id']+'_'+this['link']['cur']['Index']).style.display = 'none';
                    $(this['link']['id']+'_'+this['Index']).style.display = 'block';
                }catch(e){}
                this.callBack.call(this);
                this['link']['cur'] = this;
            }
        }
    </script>
</head>

<body class="no-intro fixed-footer yo-anim-enabled">

<nav id="main-navbar" class="hidden-xs hidden-sm">
    <div class="nav hidden-xs">
        <div class="main-reorder pull-right">
            <a href="#">
                <i class="fa fa-bars"></i>
            </a>
        </div>

        <div class="logo pull-left">
            <a href="/indexPage">
                <figure>
                    <img th:src="@{img/logo1.png}" class="light-logo" alt="Berg HTML Theme"/>
                    <img th:src="@{img/logo2.png}" class="dark-logo" alt="Berg HTML Theme"/>
                </figure>
            </a>
        </div>
        <div class="main-nav">
            <ul class="pull-right">
                <li>
                    <a href="/indexPage" class="">首页</a>
                </li>
                <li>
                    <a href="/shopPage" class="">商城</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<section id="product" class="section-scroll main-section menu shop">

    <ul class="list-category">
        <li>
            <a href="/shopPage#mix"><span>全部商品</span></a>
        </li>
        <li>
            <a href="/shopPage#category-1"><span>办公</span></a>
        </li>
        <li>
            <a href="/shopPage#category-2"><span>家居</span></a>
        </li>
        <li>
            <a href="/shopPage#category-3"><span>旅行</span></a>
        </li>
        <li>
            <a href="/shopPage#category-4"><span>数码</span></a>
        </li>
        <li>
            <a href="/shopPage#category-5"><span>娱乐</span></a>
        </li>
        <li class="shop-list">
            <ul>
                <li class="shopping">
                    <a href="/loginPage" th:if="${#strings.isEmpty(session.name)}">登录</a>
                    <a href="/customcenterPage" th:if="${!#strings.isEmpty(session.name)}" th:text="${session.name}"></a>
                </li>

                <li class="shopping" th:if="${!#strings.isEmpty(session.name)}">
                    <a href="/showOrders">订单信息</a>
                </li>

                <!--<li class="shopping" th:if="${#strings.isEmpty(session.name)}">-->
                    <!--<a href="/shopcarPage" class="cart">购物车</a>-->
                <!--</li>-->

                <!--<li class="shopping-cart" th:if="${!#strings.isEmpty(session.name)}">-->
                    <!--<a href="/cartPage" class="cart" >购物车</a>-->


                    <!--<ul class="show-cart">-->
                        <!--<li class="product" th:each="car:${carList}">-->
                            <!--<a href="product.html" class="img-product">-->
                                <!--<figure><img th:src="@{/img/}+${car.pimg}" alt=""/></figure>-->
                            <!--</a>-->
                            <!--<div class="list-product" >-->
                                <!--<a th:href="@{/productPage/}+${car.pid}" th:text="${car.pname}"></a>-->
                                <!--<div class="quantity" th:text="${car.pnum}"></div>-->
                                <!--<div class="price-product" th:text="${car.pprice}"></div>-->
                                <!--<div class="remove-product"><i class="icon-close"></i></div>-->
                            <!--</div>-->
                        <!--</li>-->
                        <!--<li class="summation">-->
                            <!--&lt;!&ndash;<div class="summation-subtotal">&ndash;&gt;-->
                            <!--&lt;!&ndash;<span>subtotal:</span>&ndash;&gt;-->
                            <!--&lt;!&ndash;<span class="amount">$87.10</span>&ndash;&gt;-->
                            <!--&lt;!&ndash;</div>&ndash;&gt;-->
                            <!--<div class="btn-cart">-->
                                <!--<button class="btn btn-default"><a href="/carList">查看购物车</a></button>-->
                                <!--<button class="btn btn-dark"><a href="/pay">结算</a></button>-->
                            <!--</div>-->
                        <!--</li>-->

                    <!--</ul>-->
                <!--</li>-->


            </ul>
        </li>
    </ul>

<div class="banner_red_top"></div>

<!--订单提交body部分开始-->

<div class="border_top_cart">

    <div class="container payment-con">
        <form  action="/paysuccessIndex" id="pay-form" method="post">
            <div class="order-info">
                <div class="msg">
                    <h3>您的订单已提交成功！付款咯～</h3>
                    <p></p>

                    <p class="post-date">成功付款后，7天内发货</p>
                </div>
                <!--<div class="info">-->
                    <!--<p>-->
                        <!--金额：<span class="pay-total">49.00元</span>-->
                    <!--</p>-->
                    <!--<p>-->
                        <!--订单：1150505740045173                    </p>-->
                    <!--<p>-->
                        <!--配送：潘骏杰                                    <span class="line">/</span>-->
                        <!--159****6437                                    <span class="line">/</span>-->
                        <!--江苏,无锡市,北塘区 民丰西苑82号202室                                                                <span class="line">/</span>-->
                        <!--不限送货时间                                    <span class="line">/</span>-->
                        <!--个人电子发票                                                    </p>-->
                <!--</div>-->

                <div class="info">
                    <p>
                        金额：<span class="pay-total">[[${price}]]元</span>
                    </p>
                    <p>
                        订单号：[[${oid}]]
                    </p>
                    <p>
                        配送：[[${adress.iname}]]                               <span class="line">/</span>
                        [[${adress.shphone}]]                                   <span class="line">/</span>
                        [[${adress.quyu}]]   |    [[${adress.address}]]         <span class="line">/</span>
                    </p>
                </div>

                <div class="icon-box">
                    <i class="iconfont"><img src="images/yes_ok.png"></i>
                </div>
            </div>

            <div class="xm-plain-box">
                <!-- 选择支付方式 -->
                <div class="box-hd bank-title clearfix">
                    <div id="titleWrap" class="title-wrap">
                        <span class="title">请选择支付方式</span>
                        <h2 class="title hide " >你还需要继续支付 <em>49.00</em> 元</h2>
                        <span class="tip-tag"></span>
                    </div>
                </div>
                <div class="box-bd" id="bankList">
                    <div class="payment-bd">
                        <form name="ck">
                            <dl class="clearfix payment-box" >
                                <dt>
                                    <strong>支付平台</strong>
                                    <p>手机等大额支付推荐使用支付宝快捷支付</p>
                                </dt>
                                <dd>
                                    <fieldset id="test4-input-input_tab1-input_tab2" style=" border:none;">
                                        <ul class="payment-list clearfix" >
                                            <li> <input class="input_tab1" name="myradio" id="r1" type="radio" checked="checked"/><label for="r1" ><img src="images/xhw.png" alt=""/></label></li>
                                            <li> <input class="input_tab2" name="myradio" id="r2" type="radio" /><label for="r2" ><img src="images/zfb.png" alt=""/></label></li>
                                            <li> <input class="input_tab3" name="myradio" id="r3" type="radio" /><label for="r3" ><img src="images/yck.png" alt=""/></label></li>
                                            <li> <input class="input_tab4" name="myradio" id="r4" type="radio" /><label for="r4" ><img src="images/zxzf.png" alt=""/></label></li>
                                        </ul>
                                        <div >
                                            <div id="test4_1">
                                                <ul class="payment-list clearfix"  style="background-color:#f3f3f3;   ">
                                                    <div class="xhw">
                                                        <div class="whx_banner">
                                                            <div style="clear:both"><p class="p1">请选择锡货卡：</p><p class="p2">对不起，没有可用的锡货卡！</p><a class="a3" href="#">立即去充值</a></div>
                                                            <div style="clear:both"><p class="p1">已绑定手机号：</p><p class="a3">15961726437</p></div>
                                                            <div style="clear:both"> <p class="p1">短信效验码</p><input id="mobileCode" name="mobileCode" type="text" value=""><input id="send" type="button" style="cursor:hand" value="点击获取手机验证码" onclick="sendMobileCode()"></div>
                                                        </div>
                                                    </div>
                                                </ul>
                                            </div>
                                            <div  id="test4_2" style="display:none;">

                                            </div>
                                            <div  id="test4_3" style="display:none;">

                                            </div>
                                            <div  id="test4_4" style="display:none;">

                                            </div>



                                        </div>
                                    </fieldset>
                                </dd>
                            </dl>
                        </form>

                        <dl class="clearfix payment-box" >
                            <dt>
                                <strong>银行网银</strong>
                                <p>支持以下各银行借记卡及信用卡</p>

                            </dt>
                            <dd>
                                <ul class="payment-list clearfix">
                                    <li><label  for="CMB"><input type="radio" name="payOnlineBank" id="CMB" value="CMB" /> <img src="http://s1.mi.com/images/payOnline_zsyh.gif" alt=""/></label></li>
                                    <li><label  for="ICBCB2C"><input type="radio" name="payOnlineBank" id="ICBCB2C" value="ICBCB2C" /> <img src="http://s1.mi.com/images/payOnline_gsyh.gif" alt=""/></label></li>
                                    <li><label  for="CCB"><input type="radio" name="payOnlineBank" id="CCB" value="CCB" /> <img src="http://s1.mi.com/images/payOnline_jsyh.gif" alt=""/></label></li>
                                    <li><label  for="ABC"><input type="radio" name="payOnlineBank" id="ABC" value="ABC" /> <img src="http://s1.mi.com/images/payOnline_nyyh.gif" alt=""/></label></li>
                                    <li><label  for="BOCB2C"><input type="radio" name="payOnlineBank" id="BOCB2C" value="BOCB2C" /> <img src="http://s1.mi.com/images/payOnline_zgyh.gif" alt=""/></label></li>
                                    <li><label  for="COMM"><input type="radio" name="payOnlineBank" id="COMM" value="COMM" /> <img src="http://s1.mi.com/images/payOnline_jtyh.gif" alt=""/></label></li>
                                    <li><label  for="PSBC-DEBIT"><input type="radio" name="payOnlineBank" id="PSBC-DEBIT" value="PSBC-DEBIT" /> <img src="http://s1.mi.com/images/payOnline_youzheng.gif" alt=""/></label></li>
                                    <li><label  for="GDB"><input type="radio" name="payOnlineBank" id="GDB" value="GDB" /> <img src="http://s1.mi.com/images/payOnline_gfyh.gif" alt=""/></label></li>
                                    <li><label  for="SPDB"><input type="radio" name="payOnlineBank" id="SPDB" value="SPDB" /> <img src="http://s1.mi.com/images/payOnline_pufa.gif" alt=""/></label></li>
                                    <li><label  for="CEBBANK"><input type="radio" name="payOnlineBank" id="CEBBANK" value="CEBBANK" /> <img src="http://s1.mi.com/images/payOnline_gdyh.gif" alt=""/></label></li>
                                    <li><label  for="SPABANK"><input type="radio" name="payOnlineBank" id="SPABANK" value="SPABANK" /> <img src="http://s1.mi.com/images/payOnline_payh.gif" alt=""/></label></li>
                                    <li><label  for="CIB"><input type="radio" name="payOnlineBank" id="CIB" value="CIB" /> <img src="http://s1.mi.com/images/payOnline_xyyh.gif" alt=""/></label></li>
                                    <li><label  for="CMBC"><input type="radio" name="payOnlineBank" id="CMBC" value="CMBC" /> <img src="http://s1.mi.com/images/payOnline_msyh.gif" alt=""/></label></li>
                                    <li><label  for="BOB"><input type="radio" name="payOnlineBank" id="BOB" value="BOB" /> <img src="http://s1.mi.com/images/payOnline_bjyh.gif" alt=""/></label></li>
                                    <li><label  for="CITIC"><input type="radio" name="payOnlineBank" id="CITIC" value="CITIC" /> <img src="http://s1.mi.com/images/payOnline_zxyh.gif" alt=""/></label></li>
                                    <li><label  for="SDB"><input type="radio" name="payOnlineBank" id="SDB" value="SDB" /> <img src="http://s1.mi.com/images/payOnline_sfyh.gif" alt=""/></label></li>
                                    <li><label  for="SHBANK"><input type="radio" name="payOnlineBank" id="SHBANK" value="SHBANK" /> <img src="http://s1.mi.com/images/payOnline_shyh.gif" alt=""/></label></li>
                                    <li><label  for="BJRCB"><input type="radio" name="payOnlineBank" id="BJRCB" value="BJRCB" /> <img src="http://s1.mi.com/images/payOnline_bjnsyh.gif" alt=""/></label></li>
                                    <li><label  for="NBBANK"><input type="radio" name="payOnlineBank" id="NBBANK" value="NBBANK" /> <img src="http://s1.mi.com/images/payOnline_nbyh.gif" alt=""/></label></li>
                                    <li><label  for="HZCBB2C"><input type="radio" name="payOnlineBank" id="HZCBB2C" value="HZCBB2C" /> <img src="http://s1.mi.com/images/payOnline_hzyh.gif" alt=""/></label></li>
                                    <li><label  for="SHRCB"><input type="radio" name="payOnlineBank" id="SHRCB" value="SHRCB" /> <img src="http://s1.mi.com/images/payOnline_shnsyh.gif" alt=""/></label></li>
                                    <li><label  for="FDB"><input type="radio" name="payOnlineBank" id="FDB" value="FDB" /> <img src="http://s1.mi.com/images/payOnline_fcyh.gif" alt=""/></label></li>                                </ul>
                            </dd>
                        </dl>
                    </div>
                </div>
                <div class="box-ft clearfix">
                    <input type="text" th:value="${price}" hidden="hidden" name="price">
                    <input type="text" th:value="${oid}" hidden="hidden" name="oid">
                    <input type="text" th:value="${adress.iname}" hidden="hidden" name="iname">
                    <input type="text" th:value="${adress.shphone}" hidden="hidden" name="shphone">
                    <input type="text" th:value="${adress.address}" hidden="hidden" name="address">
                    <input type="text" th:value="${adress.quyu}" hidden="hidden" name="quyu">

                    <input type="submit" class="btn btn-primary" value="下一步">
                    <a th:href="@{/quxiaoOrder/}+${oid}" class="btn btn-lineDakeLight">取消订单</a>
                    <span class="tip"></span>
                </div>
            </div>
        </form>
    </div>
    <!-- 支付弹框 -->
    <div class="modal hide to-pay-tip" id="toPayTip">
        <div class="modal-header">
        <span class="close" id="toPayTipClose">
            <i class="iconfont">&#xe617;</i>
        </span>
            <h3>正在支付...</h3>
        </div>
        <div class="modal-body">
            <div class="pay-tip clearfix">
                <div class="fail">
                    <h4>如果支付失败...</h4>
                    <p>额度问题，推荐<a href="#" id="alipayTrigger">支付宝快捷支付 &gt;</a></p>
                    <p>其他问题，查看<a href="#">支付常见问题 &gt;</a></p>
                </div>
                <div class="success">
                    <h4>支付成功了</h4>
                    <p>立即查看<a href="#" target="_blank">订单详情 &gt;</a></p>
                </div>
            </div>
        </div>
    </div>
    <!-- 余额支付弹框 -->
    <div class="modal hide  balance-pay" id="balancePay">
        <div class="modal-body">
            <h3>账户余额支付：<span class="num"><em id="useCashAccountPayLeft">0.00</em>元</span></h3>
            <p id="checkCodeTip">短信验证码已下发至您的手机<span class="num"></span></p>
            <input type="text" name="verifycode" id="verifycode" class="input" placeholder="请输入验证码"> <span class="send-again" id="sendAgain">重新发送<em></em></span>
            <p><input type="button" value="确认支付" class="btn btn-primary" id="toPay">
                <div class="select-other">
            <p><span id="bankName"></span> <span class="num">49.00元</span></p>

        </div>
        <a href="javascript:;" id="chooseOther">选择其他方式支付&gt;</a>
    </div>

</div>

<script src="js/base.min.js"></script>

<script type="text/javascript" src="js/buyConfirm.js"></script>

</div>
<!--订单提交body部分结束-->
</section>

<div id="footer-spacer"></div>
<footer id="footer" class="text-center">

    <a href="#" class="to-the-top">
        <i class="fa fa-arrow-circle-o-up"></i>
    </a>

    <h2>为你所想</h2>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center v-card">

                <div class="col-sm-6 col-lg-3">
                    <div class="open-daily">
                        <span class="day">周一 -- 周四</span>
                        <span class="hours">7.00 -- 21.00</span>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="open-daily">
                        <span class="day">周五 -- 周日</span>
                        <span class="hours">7.00 -- 23.00</span>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="simple-contact">
                        <span class="address">山西省太原市榆次区</span>
                        <span class="postal-code">蓝桥软件实验室</span>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="simple-contact">
                        <span class="mobile"><a href="#">+48 889 889 889</a></span>
                        <span class="email"><a href="#">restaurant@berg.com</a></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <ul class="social-icon clearfix">
        <li>
            <a href="#"><i class="fa fa-facebook"></i></a>
        </li>
        <li>
            <a href="#"><i class="fa fa-twitter"></i></a>
        </li>
        <li>
            <a href="#"><i class="fa fa-pinterest"></i></a>
        </li>
        <li>
            <a href="#"><i class="fa fa-google-plus"></i></a>
        </li>
        <li>
            <a href="#"><i class="fa fa-instagram"></i></a>
        </li>
    </ul>


    <p class="copyrights">© 2019 <a href="index">为你所想</a>. All Rights Reserved. </p>
</footer>


<div class="gallery-wrapper"></div>
<div id="preloader">
    <div id="status">
        <div class="loading-wrapper">
            <img th:src="@{/img/logo2.png}" alt="Loading"/>
        </div>
    </div>
    <div id="status-loaded"></div>
</div>

    <script th:src="@{/js/browser.js}"></script>
    <script th:src="@{/js/jquery.ba-throttle-debounce.min.js}"></script>
    <script th:src="@{/js/jquery.smooth-scroll.js}"></script>
    <script th:src="@{/js/matchmedia.js}"></script>
    <script th:src="@{/js/enquire.min.js}"></script>
    <script th:src="@{/js/jquery.velocity.min.js}"></script>
    <script th:src="@{/js/waypoints.js}"></script>
    <script th:src="@{/js/owl.carousel.js}"></script>
    <script th:src="@{/js/jquery.mb.YTPlayer.js}"></script>
    <script th:src="@{/js/jquery.parallaxify.js}"></script>
    <script th:src="@{/js/jquery.imagesloaded.js}"></script>
    <script th:src="@{/js/jquery.unveil.min.js}"></script>
    <script th:src="@{/js/jquery.superslides.min.js}"></script>
    <script th:src="@{/js/jquery.fullPage.min.js}"></script>
    <script th:src="@{/js/jquery.mixitup.js}"></script>
    <script th:src="@{/js/main.js}"></script>

</body>
</html>
